* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f7fb;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

/* .App {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
} */

.intro-div {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 50vw;
  height: 30vh;
  text-align: center;
  justify-content: space-around;
  color: #293264;
}

.btn {
  width: 20vw;
  height: 50px;
  margin: auto;
  color: white;
  background-color: #4d5b9e;
  border-radius: 6px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.question-div {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  width: 70vw;
  border-bottom: 3px solid lightgrey;
  color: #293264;
  padding: 0 20px 10px 20px;
}

.question-element {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: left;
  gap: 20px;
}

.answer-div {
  margin: 3px;
  padding: 5px 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.unselected {
  border: 1px solid #293264;
}

.selected {
  border: none;
  background-color: #d6dbf5;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.score {
  color: #293264;
}
